*{font-family: 'Coiny', cursive;

}

/* font-family: 'Eater', cursive;

font-family: 'Frijole', cursive;
    font-style: italic;
    font-style: oblique;

font-family: 'Creepster', cursive; */

body{
	  /* background-image: url("evenlighter.png"); */
/* background: transparent; */
	margin:0px;

/*    width:3000px;*/
}


    /* background-image: url(../img/BlackBearStreet.jpg); */
 /* min-height: 100%;
} */


body{
    overflow:hidden;
}

#flipbook{
    width:400px;
    height:300px;
}

#flipbook .page{
    width:400px;
    height:300px;
    background-color:white;
    line-height:300px;
    font-size:20px;
    text-align:center;
}

#flipbook .page-wrapper{
    -webkit-perspective:2000px;
    -moz-perspective:2000px;
    -ms-perspective:2000px;
    -o-perspective:2000px;
    perspective:2000px;
}

#flipbook .hard{
    background:#ccc !important;
    color:#333;
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
    font-weight:bold;
}

#flipbook .odd{
    background:-webkit-gradient(linear, right top, left top, color-stop(0.95, #FFF), color-stop(1, #DADADA));
    background-image:-webkit-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-moz-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-ms-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:-o-linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    background-image:linear-gradient(right, #FFF 95%, #C4C4C4 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;

}

#flipbook .even{
    background:-webkit-gradient(linear, left top, right top, color-stop(0.95, #fff), color-stop(1, #dadada));
    background-image:-webkit-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-moz-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-ms-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:-o-linear-gradient(left, #fff 95%, #dadada 100%);
    background-image:linear-gradient(left, #fff 95%, #dadada 100%);
    -webkit-box-shadow:inset 0 0 5px #666;
    -moz-box-shadow:inset 0 0 5px #666;
    -o-box-shadow:inset 0 0 5px #666;
    -ms-box-shadow:inset 0 0 5px #666;
    box-shadow:inset 0 0 5px #666;
}










.ctext{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.bg3{
    background-image: url(../img/bearsFb.jpg);
   min-height: 100%;
}

.bg4{
      background-image: url(../img/blackBear.png);
   min-height: 100%;
}

.bg5{
      background-image: url(../img/bearsHouse.jpg);
   min-height: 100%;
}

.bg6{
          background-image: url(../img/Natrual_FOrest_Fragmentation.jpg);
   min-height: 100%;
}

.bg7{
          background-image: url(../img/BearContainer.jpg);
   min-height: 100%;
}

.bg8{
          background-image: url(../img/NCDeforest.jpg);
   min-height: 100%;
}
.bg9{
          background-image: url(../img/bearyard.jpg);
   min-height: 100%;
} */
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  background-image: url("purranormal2.png");
}

.cover{
	  background-image: url("purranormal2.png");
		/* width:auto; */
		height:100%;
		background-size: cover;
}
.scamp{
background-image: url("coloredghostscamp.png");
	height:25%;
}
/* .container {
  max-width: 960px;
  background: white
} */

.text{
	height:1000px;
	/* background-color:purple; */
	font-size:36px;
	/* float:right; */
}


.parallax {
  /* The image used */
  /* background-image: url("evenlighter.png");
	 */

	 background-image: url("bg.png");
height:100%;
  /* Set a specific height */
  /* min-height: 500px; */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-color: gray;
}

.caption span.border {
  background-color: darkseagreen;
  color: black;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
    opacity: .8;
}



#scroll{
    width: 100%;
    height: 100%;
}
